<div class="osahan-menu-fotter fixed-bottom bg-white px-3 py-2 text-center">
  <div class="row">

    <div [ngClass]="isActive(home) ? 'col selected' : 'col'">
      <a [routerLink]="home" [ngClass]="isActive(home) ? activeLinkClass : linkClass">
        <p class="h4 m-0"><i [className]="homeIconClass"></i></p>
        Home
      </a>
    </div>

    <div [ngClass]="isActive(myIssues) ? 'col selected' : 'col'">
      <a [routerLink]="myIssues" [ngClass]="isActive(myIssues) ? activeLinkClass : linkClass">
        <p class="h4 m-0"><i [className]="myIssuesIconClass"></i></p>
        Trending
      </a>
    </div>

    <div
            *ngIf="isCustomer()"
            (click)="canActivateOrRedirectToLogin()"
            class="col bg-white rounded-circle mt-n4 px-3 py-2">
      <div class="bg-danger rounded-circle mt-n0 shadow">
        <a [routerLink]="issueForm" class="text-white small font-weight-bold text-decoration-none">
          <i class="feather-shopping-cart"></i>
        </a>
      </div>
    </div>

    <div [ngClass]="isActive(favorites) ? 'col selected' : 'col'">
      <a [routerLink]="favorites" [ngClass]="isActive(favorites) ? activeLinkClass : linkClass">
        <p class="h4 m-0"><i [className]="favoritesIconClass"></i></p>
        Favorites
      </a>
    </div>
    <div [ngClass]="isActive(profile) ? 'col selected' : 'col'">
      <a [routerLink]="profile" [ngClass]="isActive(profile) ? activeLinkClass : linkClass">
        <p class="h4 m-0"><i [className]="profileIconClass" ></i></p>
        Profile
      </a>
    </div>

  </div>
</div>
