<div class="col-12 pt-2">
    <div class="d-flex align-items-start list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
        <div class="list-card-image">
            <a [href]="contextPath + '/issues/'+masterApplyIssueEvent.issue.issueId">
                <img *ngIf="masterApplyIssueEvent.issue.photo" [src]="masterApplyIssueEvent.issue.photo" class="img-fluid item-img w-100 square-center-cropped">
                <img *ngIf="!masterApplyIssueEvent.issue.photo" src="./assets/tempimg/sales1.png" class="img-fluid item-img w-100 square-center-cropped">
            </a>
        </div>
        <div class="p-3 position-relative">
            <div class="list-card-body">
                <h6 class="mb-1" [innerText]="masterApplyIssueEvent.issue.description.substring(0, 10)"></h6>
                <p class="text-gray mb-3" [innerText]="masterApplyIssueEvent.issue.description"></p>
                <p class="text-gray mb-3" [innerText]="masterApplyIssueEvent?.issue?.customer?.name"></p>
                <p class="text-gray mb-3"
                   *ngIf="masterApplyIssueEvent.applyTimestamp"
                   [innerText]="'You applied on ' + masterApplyIssueEvent.applyTimestamp"></p>
                <p class="text-gray mb-3 text-success"
                   *ngIf="masterApplyIssueEvent.approveTimestamp"
                   [innerText]="'You approved on ' + masterApplyIssueEvent.approveTimestamp"></p>
                <p class="text-gray mb-3 text-danger"
                   *ngIf="masterApplyIssueEvent.declineTimestamp"
                   [innerText]="'You declined on ' + masterApplyIssueEvent.declineTimestamp"></p>
            </div>
        </div>
    </div>
</div>
