<app-page-header [title]="title"></app-page-header>
<div class="most_popular bg-light p-3">
    <div class="row height-50">
        <div class="col-12">
            <div class="card bg-white h-100 rounded overflow-hidden position-relative shadow">
                <div class="p-3 position-relative">
                    <a href="master/home">
                        <div class="list-card-body">
                            <br/>
                            <h1 class="text-center display-1" i18n>MASTER</h1>
                            <br/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row height-50">
        <div class="col-12">
            <div class="card bg-white h-100 rounded overflow-hidden position-relative shadow">
                <div class="p-3 position-relative">
                    <a href="customer/home">
                        <div class="list-card-body">
                            <br/>
                            <h1 class="text-center display-1" i18n>RESTAURANT</h1>
                            <br/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
