<!--<div class="modal fade" [id]="modalId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<div class=""  tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" i18n>Issue details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="back()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="text-danger">{{errorMessage}}</h3>
        <div class="form-row">
          <div class="col-md-12 form-group">
            <label class="form-label">What need to be done</label>
            <textarea [(ngModel)]="issue.description"
                      placeholder="Enter issue details here"
                      type="text"
                      class="form-control"
                      required></textarea>
          </div>
          <div class="col-md-12 form-group">
            <label class="form-label" i18n>In which city it should be done ?</label>
            <input [(ngModel)]="issue.city"
                   placeholder="Enter city here"
                   type="text"
                   class="form-control"
                   required/>
          </div>
          <div class="col-md-12 form-group">
            <label class="form-label" i18n>Enter restaurant address</label>
            <input [(ngModel)]="issue.address"
                   placeholder="Enter address"
                   type="text"
                   class="form-control"
                   required/>
          </div>
          <div class="col-md-12 form-group">
            <label class="form-label" i18n>Add image file (picture) from Gallery</label>
          </div>
            <input type="file" accept="image/*" (change)="selectFile($event)" placeholder="Upload file" i18n-placeholder>
          <div *ngIf="imgSrc">
            <img [src]="imgSrc" class="square-center-cropped">
          </div>
        </div>
      </div>

      <div class="modal-footer p-0 border-0">
        <div class="col-6 m-0 p-0">
          <button type="button" class="btn border-top btn-lg btn-block" data-dismiss="modal" (click)="back()" i18n>Close</button>
        </div>
        <div class="col-6 m-0 p-0">
          <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" (click)="save()" i18n>Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
