<app-page-header [title]="txtIssueDetails"></app-page-header>
<div class="osahan-restaurant">
    <div class="osahan-restaurant-detail">
        <div class="p-3">
            <div class="pt-3">
                <h2 class="font-weight-bold" [innerText]="issue?.customer?.name"></h2>
                <p class="font-weight-light text-dark m-0" [innerText]="issue.city"></p>
                <p class="font-weight-light text-dark m-0" [innerText]="issue.address"></p>
            </div>
            <div class="pt-2">
                <h5 [innerText]="issue.description"></h5>
            </div>
            <div class="pt-2">
                <div class="row">
                    <div class="col-6">
                        <p class="font-weight-bold m-0" [innerText]="issue.customer.ownerName"></p>
                    </div>
                    <div class="col-6">
                        <p class="font-weight-bold m-0" [innerText]="issue.customer.phone"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-primary p-3">
            <div *ngIf="appContext == 'customer'" class="d-flex align-items-center">
                <h4 class="font-weight-bold m-0 text-white" removed_class="pl-5">
                    &nbsp;
                </h4>
            </div>

            <div *ngIf="appContext == 'master'" class="d-flex align-items-center">
                <a href='#' *ngIf="applyTimestamp === undefined" class="btn btn-sm btn-outline-light ml-auto"
                   (click)="onApplyClicked($event)" i18n>Click here to quick Apply!</a>
                <div class="row">
                    <div class="col-5" *ngIf="masterApplyIssueEventIfMasterSession.applyTimestamp != undefined">
                        <h6 class="font-weight-bold m-0 text-white" removed_class="pl-5" i18n>
                            You applied on {{ masterApplyIssueEventIfMasterSession.applyTimestamp }}
                        </h6>
                    </div>
                    <div class="col-5" *ngIf="masterApplyIssueEventIfMasterSession.approveTimestamp != undefined">
                        <h6 class="font-weight-bold m-0 text-warning" removed_class="pl-5" i18n>
                            You approved on {{ masterApplyIssueEventIfMasterSession.approveTimestamp }}
                        </h6>
                    </div>
                    <div class="col-5" *ngIf="masterApplyIssueEventIfMasterSession.declineTimestamp != undefined">
                        <h6 class="font-weight-bold m-0 text-black-50" removed_class="pl-5" i18n>
                            You declined on {{ masterApplyIssueEventIfMasterSession.declineTimestamp }}
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-light">
            <p class="font-weight-bold px-3 pt-3 m-0" i18n>Images</p>
            <!-- slider -->
            <div class="trending-slider rounded overflow-hidden">
                <div class="osahan-slider-item px-1 py-3">
                    <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
                        <div class="list-card-image">
                            <a href="#">
                                <img *ngIf="issue.photo" [src]="issue.photo"
                                     class="img-fluid w-100 square-center-cropped">
                                <img *ngIf="!issue.photo" src="./assets/tempimg/trending1.png"
                                     class="img-fluid w-100 square-center-cropped" alt="No image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="appContext == 'customer'" class="bg-light">
            <p class="font-weight-bold px-3 pt-3 m-0" i18n>Masters applied</p>
            <div *ngFor="let masterApplyEvent of masterApplyIssueEvent">
                <app-master-apply-event-info-card-in-list
                        [masterApplyEvent]="masterApplyEvent"></app-master-apply-event-info-card-in-list>
            </div>
        </div>
    </div>
</div>
<br/>
<app-menu-bottom [appContext]="appContext"></app-menu-bottom>
